.DS_Store
node_modules
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/




# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*


# community
community/node_modules
community/dist
community/tests
community/tests
community/.env.local
community/.env.*.local
community/npm-debug.log*
community/yarn-debug.log*
community/yarn-error.log*
community/.idea
community/.vscode
community/*.suo
community/*.ntvs*
community/*.njsproj
community/*.sln
community/*.sw*
