.vui-radio{
	outline: none;
	color: #333;
}
@import "mixins/mixins";
@import "mixins/utils";
@import 'mixins/button';
@import "common/var";

@include b(radio) {
	line-height: 1;
	position: relative;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	outline: none;
	margin-right: 30px;
	@include utils-user-select(none);

	&:last-child {
		margin-right: 0;
	}

	@include e(input) {
		white-space: nowrap;
		cursor: pointer;
		outline: none;
		display: inline-block;
		line-height: 1;
		position: relative;
		vertical-align: middle;

		@include when(disabled) {
			.vui-radio__inner {
				background-color: $--radio-disabled-input-fill;
				border-color: $--radio-disabled-input-border-color;
				cursor: not-allowed;

				&::after {
					cursor: not-allowed;
					background-color: $--radio-disabled-icon-color;
				}

				& + .vui-radio__label {
					cursor: not-allowed;
				}
			}
			&.is-checked {
				.vui-radio__inner {
					background-color: $--radio-disabled-checked-input-fill;
					border-color: $--radio-disabled-checked-input-border-color;

					&::after {
						background-color: $--radio-disabled-checked-icon-color;
					}
				}
			}
			& + span.vui-radio__label {
				color: $--color-text-placeholder;
				cursor: not-allowed;
			}
		}
	}
	&:focus:not(.is-focus):not(:active):not(.is-disabled) { /*获得焦点时 样式提醒*/
		.el-radio__inner {
			box-shadow: 0 0 2px 2px $--radio-input-border-color-hover;
		}
	}
}
