$red:red;
$main-blue:#388efd;
$main-red:#ff4444;
$main-yellow:#ffa31f;


$text-main:#545454;
$text666:#666666;
$text999:#999999;

$talk-bg:#f9f9f9;

$border:#e0e0e0;

$body-bg-color : #f6f6f6;//body 背景色

$base-heading-font-weight : 600;//字体重

$base-line-height : 1.2; //基准line-height
$base-font-size : 20px;//基础font size