
/*图片滚动 暂时放在这里，后面要移出去，放入图片滚动组件中 start*/

.seamless-warp3 {
  overflow: hidden;
  height: 140px;
  width: 560px ;
  margin: 0 auto;
}
.seamless-warp3 .left-arrow,.seamless-warp3 .right-arrow{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00a0e9;
  cursor: pointer;
}
.seamless-warp3 .left-arrow:hover, .seamless-warp3 .right-arrow:hover {
  background-color: #0f39fa;
}
.seamless-warp3 .left-arrow::before, .seamless-warp3 .right-arrow::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  border: 2px solid #fff;
}
.seamless-warp3 .left-arrow::before{
  border-right: 0;
  border-bottom: 0;
  transform: rotate(-45deg);

}
.seamless-warp3 .right-arrow::before{
  border-left: 0;
  border-top: 0;
  left: 9px;
  transform: rotate(-45deg);

}
.seamless-warp3 ul.item{
  width: 1120px;

}
.seamless-warp3 ul.item li{
  float: left;
  width: 120px;
  height: 120px;
  margin: 10px;
  text-align: center;
  position: relative;
  border: 1px solid #ccc;
}
.seamless-warp3 ul.item li img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.seamless-warp3 ul.item li .del-img{
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
}


/*图片滚动 end*/