
/*input validate start*/
.vui-form-item__error {
  display: none;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 1;
  font-size: 12px;
  color: #b9bdbe;
  white-space: nowrap;
}
.vui-form-item__content{
  position: relative;
}
.vui-input__inner {
  display: inline-block;
  /*outline: none;*/
  /*-webkit-appearance: none;*/
  /*-webkit-border-radius: 2px;*/
  /*-moz-border-radius: 2px;*/
  border-radius: 2px;
  border: 1px solid #dee3f0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
  padding-left: 5px;
}
.vui-select__inner{
  display: inline-block;
  outline: none;
  border-radius: 2px;
  border: 1px solid #dee3f0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
  padding-left: 5px;
}
input.vui-input__inner {
  display: inline-block;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dee3f0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
  padding-left: 5px;
}

.vui-checkbox__inner label{
  margin: 0;
}
.vui-form-item.is-error .vui-checkbox__inner{
  border: 1px solid #f56c6c;
}
.vui-radio{
  cursor: pointer;
}
.vui-checkbox{
  cursor: pointer;
}
.vui-radio__inner label{
  margin: 0;
	font-weight: normal;
}
.vui-form-item.is-error .vui-radio__inner{
  border: 1px solid;
  border-color: #f56c6c;
}
.vui-form-item{
  display: inline-block;
}
.vui-form-item.is-error .vui-input__inner{
  border-color: #f56c6c;
}
.vui-form-item.is-error .vui-select__inner{
  border-color: #f56c6c;
}
.vui-form-item.is-error .vui-textarea__inner{
	border-color: #f56c6c;
}

.is-error .vui-form-item__error{
  display: block;
}

/*去掉select样式*/
.del-select::-ms-expand{ display: none; }
.del-select{
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  padding: 0;
  border: none;
}

input[disabled]{
  background-color: #ccc!important;
}
select[disabled]{
  background-color: #ccc!important;
}
textarea[disabled]{
  background-color: #ccc!important;
}

/*input validate end*/
