
/*图片上传组件*/
.vui-img-select-top{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.vui-img-select-center{
  padding-top: 10px;
  padding-bottom: 10px;
}

.vui-close-style{
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
	&.vui-small-close{
		right: -7px;
		top: -7px;
		width: 15px;
		height: 15px;
	}
}
.vui-close {
	.vui-close-icon {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		cursor: pointer;
		&.rounded::before{
			border-radius: 5px;
		}
		&.rounded::after {
			border-radius: 5px;
		}
		&.thick::before{
			height: 4px;
			margin-top: -2px;
		}
		&.thick::after{
			height: 4px;
			margin-top: -2px;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
		&::before {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			top: 50%;
			left: 0;
			margin-top: -1px;
			background: #000;
		}
		&::after {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			top: 50%;
			left: 0;
			margin-top: -1px;
			background: #000;
		}
		&.rounded::before {
			border-radius: 5px;
		}
		&.rounded::after {
			border-radius: 5px;
		}
		&.thick::before {
			height: 4px;
			margin-top: -2px;
		}
		&.thick::after {
			height: 4px;
			margin-top: -2px;
		}
		&::before {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			top: 50%;
			left: 0;
			margin-top: -1px;
			background: #000;
		}
		&::after {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			top: 50%;
			left: 0;
			margin-top: -1px;
			background: #000;
		}
	}
}
.vui-select-img{
  opacity: 0;

}
.vui-is-loading-img{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.vui-is-up-img{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 4;
	&.reup{
		cursor: pointer;
	}
	&.tip{
		z-index: 6;
	}
}
.vui-show-will-upload {
	.vui-img-box{
		width: 100px;
		height: 100px;
		position: relative;
		margin-right: 15px;
		border: 1px solid #ccc;
		border-radius: 5px;
		/*overflow: hidden;*/
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 5px;
		}
	}
}
.vui-upload-list{
	margin-bottom: 15px;
	.vui-img-name{
		text-overflow: ellipsis;
		width: 100px;
		white-space: nowrap;
		overflow: hidden;
	}
}
/*图片上传组件 end*/
